*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1a1a;
    font-family: "DM Sans", sans-serif;
}

.nome{
    display: flex;
    max-height: 40px;
    position: absolute;
    left: 10%;
}

header {
    display: flex;
    margin: 30px;
    justify-content: end;
}

nav, a{
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    top: 25%;
    left: -15%;
    gap: 30px;
    margin: 0 ;
    font-size: 1em;  
    text-decoration: none;

}

h2 {
    font-size: 30px;
    color: #fff;
    padding: 0 10px;
    flex-grow: 1; 
}

.home {
    display: flex;
   
    margin-left: 10%;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100vh;
}

h1{
    color: #fff;
    font-size: 4vmax;
    line-height: 110%;
    margin-bottom: 1rem;
   

}














/* ---------- seção animada redes sociais-------------*/
.img-animada{
    position: relative;
    right: 3%;
    top: 15%;
}

ul{
   
    display: flex;
    position: relative;
    gap: 40px;
    list-style-type:none ;
}

ul li {
    width: 50px;
    height: 50px;
    background-color:#1a1a1a;
    box-shadow: 0 8px 25px #00000055;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .2s;
    top: -15px;
}

ul li:hover{
    width: 130px;
}

ul li span{
    position: absolute;
   
}

ul li .icon{
    color: #ccc;
    font-size: 1.6em;
    transition: .2s;
}

ul li .text{
    color: #fff;
    font-size: 17px;
    transform: scale(0);
    transition: .2s;
    transition-delay: .1s;
}

ul li:hover .text{
    transform: scale(1);
    }


ul li:hover .icon{
    transform: scale(0);
}

ul li::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;
}

ul li:hover::before{
    opacity: 1;
}

/* ---------- seção animada Home-------------*/
.txt-animado{
    font-size: 45px;
    margin-top: 5%;
}


.txt-animado span{
     position: relative;
}

.txt-animado span::before{
    content: "";
    color: #fff;
    animation: titulo 20s infinite;
}

.txt-animado span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left:2px solid green;
    right: -10px;
    animation: cursor .8s infinite, digita 25s steps(20) infinite;
    width: calc(100% + 18px);
    background-color: #1a1a1a;
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 18px);
    }
}

@keyframes cursor{
    0%{
        border-left:2px solid #000000;
    }
}

@keyframes titulo{
    0%,25%{
        content: "Desenvolvedor Web Front-End";
    }
    26%,50%{
        content: "Front-End Web Developer";
    }
    
    51%,75%{
        content: "Seja Bem Vindo!";
    }
    
    76%,100%{
        content: "Welcome!";
    }
    
}